html, body {
    margin: 0;
    width: 100%;;
    height: 100%;
}
* {
    font-family: "Microsoft YaHei UI";
}
input {
    outline: none;
    width: 200px;
    height: 30px;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 5px;
}
button {
    width: 80px;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
    border: none;
    background-color: #0081f4;
    color: #fff;
    cursor: pointer;
    outline: none
}